body {
    margin: 0;
    font-family: "classic notes";
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-family: "classic notes";
    overflow: auto;
}


.logo-image {
    width: 10vh;
    height: 10vh;
}

#overlay-canvas {
    position: absolute;
    top: 10;
    left: 10;
    /* opacity: 0.4; */
    pointer-events: none;
}
.canvas-space {
    display: flex;
}

.right-section {
    display: flex;
    justify-content: space-between;
}
.drawing-area {
    box-shadow: 0 0 6px 0 #999;
    margin-left: 20px;
}

.clear-button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    transition: background-color 0.3s;
    width: 8vh;
    height: 5vh;
}
.option_paper {
    margin-bottom: 10px;
    width: 95px;
    height: 120px;
    border: 1px solid #A4B3B7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.option_paper:hover {
    box-shadow: 0 0 6px 0 #999;
}
input[type="file" i] {
    display: none;
}

.clear-button:hover {
    background-color: #ceced3;
}

.color-button {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 8vh;
    height: 5vh;
}

.color-button:hover {
    background-color: #ceced3;
}
.options {
    width: 25vh;
    max-height: 75vh;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(224, 224, 224) rgb(202, 202, 202);
}

.options::-webkit-scrollbar {
    width: 10px;
}

.options::-webkit-scrollbar-thumb {
    background: rgb(224, 224, 224);
    border-radius: 5px;
}

.options::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 137, 137);
}
 


.hide-canvas {
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 8vh;
    height: 5vh;
}

.hide-canvas:hover {
    background-color: #ceced3;}

.dropdown-container {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: #517dd4;
    color: white;
    font-size: 20px;
    font-family:"classic notes";
}

.logo {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}
@font-face {
    font-family:"classic notes";
    src: url("Classic Notes.ttf") format("truetype");
  }

.footer-icons a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
.bold-name:hover {
    color: #1f1e21;
}

.footer {
    background-size: 200% 200%;
    background-color: white;
    /* background-color: rgb(83, 83, 83); */
    padding: 20px;
    text-align: center;
}

.animation-container {
    font-size: 20px;
    width: 95%;
    max-width: 400px;
    margin: 15px auto 0 auto;
    text-align: left;
    font-size: 30px;
    /* font-weight: bold; */
    font-family:"classic notes";
}

#draggable-container {
    position: fixed;
    user-select: none;
    cursor: pointer;
    touch-action: none;
}
.eraser {
    width: 25px;
    cursor: pointer;
}
.paint {
    width: 30px;
    cursor: pointer;
}

.options-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    
}

.paper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .options {
        max-height: none;
        overflow: visible;
    }

    .options::-webkit-scrollbar {
        display: none;
    }
}
@media (min-width: 769px) {
    .right-section {
        flex: 70%;
    }
}



/* Hide the entire container by default */
.container.hidden {
    display: none;
}

/* Add styles to format the card grid and individual cards (unchanged) */
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Adjust as needed */
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #A4B3B7;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 120px;
    width: 95px;
    font-size: 20px;
}

.card:hover {
    box-shadow: 0 0 6px 0 #999;
}
